body {
	width: 100%;
	margin:0;
	text-align: justify;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1em;
}

header { padding:0.5em; }

h1, h2, h3 {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.2em;
	text-align: left;
}

h1 { font-size: 160% }

h2 {
	font-size:  140%;
    font-style: oblique;
	margin-top: 0;
	padding-bottom: 0.5em;
}

h3 {
	font-size:120% ;
    font-style: normal;
	padding-bottom: 0.2em;
}

p {
	padding-left: 1em;
	padding-right: 1em;
}

img {
	max-width: 70%;
	margin-right:auto;
	margin-left:auto;
	border-radius: 2px;
}

a:link { text-decoration: none;}

hr { border-width: 1px; }

main {
	border-style:none;
	padding:1em;
	display:block;
	width:90%;
	margin-left: auto;
	margin-right: auto;
}

nav div {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	width:90%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1em;
	padding-bottom: 1em;
}


nav div span a {
	font-weight: bold;
}

nav div span a:hover {
	font-size: 1.3em;
	-moz-transition: font-size 0.5s;
	transition: font-size 0.5s;
}

nav div span a:focus {
	font-size: 1.3em;
}

nav div span a:active {
	font-size: 2em;
}

@media only screen and (max-width: 800px) {

	#contentArea{
		width:100%;
		padding:0;
	}

	#contentArea p { 
		width:90%;
		margin-left: auto;
		margin-right: auto;
	}

	#content {
		width:100%;
		margin:0;
	}

	nav {
		height: inherit;
	}
	
	nav div span {
		display:block !important;
		margin-top: 0.5em;
		height:inherit;
	}

	nav div span a { font-size: 1.5em; }
	nav div span a:hover { font-size: 2em; }
	nav div span a:active { padding-left: 0; }
}