/* Palette:
pink:   #f5abb9   
blue:   #5bcffb  
white:  #ffffff   
*/

/* GENERAL THEME STYLES */

/* HTML Classes */

body {
  background-color: #ffffff;
	color: #f5abb9;
}

header {
  background: linear-gradient(to right, rgb(85, 205, 252), rgb(247, 168, 184), rgb(255, 255, 255),rgb(247, 168, 184), rgb(85, 205, 252));
}

h1, h2 {
  color:#5bcffb;
}

h3, h4, h5, h6 {
  color:#ffffff;
}

p { color:#ffffff;}


a { color: #ffffff;}

a:hover { color: #f5abb9;}

a:focus { color: #f5abb9;}

a:active { color: #ffffff;}

img { color: #ffffff;}

hr { color: rgba(93, 37, 52, 0.2)}

pre {
  color:#ffffff
}

ul {
  color:#ffffff;
}

ol {
  color:#ffffff;
}

li {
  color:#ffffff;
}

#contentArea {
  background-color: #f5abb9;
}




/* Generic Classes */

/* Enclosure Classes
(can be applied to elemens such as headers, footers or document body)*/

/* Enclosure1 Styles*/

.enclosure1{
  color:#ffffff;
  background-color:#f5abb9;
	border-color:#ffffff;
}

/* Enclosure2 Styles */


.enclosure2 {
  color:#f5abb9;
  background-color:  #5bcffb;
  border-color: #f5abb9;
}

.enclosure2 h1 {
  color:#ffffff;
  text-shadow: none;
  --text-shadow: 1px 1px #f5abb9,1px 1px 5px #ffffff;
}

.enclosure2 h2 {
  color:#ffffff;
  text-shadow: none;
  --text-shadow: 1px 1px #f5abb9,1px 1px 5px #ffffff;
}

.enclosure2 h3 {
  color:#ffffff;
  text-shadow: none;
  --text-shadow: 1px 1px #f5abb9,1px 1px 5px #ffffff;
}

.enclosure2 p { color:#ffffff;}

.enclosure2 ul li {
  color: #ffffff; 	/* set color of list item text */
 }

 .enclosure2 ul li::before {
   color: #ffffff;   /* color of unicode character */
 }



/* Enclosure3 Styles */

.enclosure3{
  color: #5bcffb;
  border-color:#5bcffb;
  background-color:#ffffff;
}

.enclosure3 p{ color: #5bcffb;}

.enclosure3 h1, h2, h3, h4, h5, h6 {
  color: #5bcffb;
}

/* Pattern Classes
(can be applied to add gradients, textures etc to any element with a background) */

.pattern1 { background: linear-gradient(#ffffff,#f5abb9);}

.pattern2 { background: linear-gradient(#ffffff, #5bcffb);}

.pattern3 { background: linear-gradient(to right, rgb(85, 205, 252), rgb(247, 168, 184), rgb(255, 255, 255),rgb(247, 168, 184), rgb(85, 205, 252));}

/* Button Classes
(to be used with any elements that act like a button)*/

.button1{
  background: #f5abb9;
  color: #ffffff;
}

.button1:hover{ background: #f5abb9;}

.button2{
  background:  #ffffff;
	color: #5bcffb;
}

.button2:hover{
  background: #ffffff;
	color: #d21f65;
}

/* Menu Classes*/

/*Menu1 Styles*/

.menu1 span a {
  background: #5bcffb;
  color: #ffffff;
}

.menu1 span a:hover {
  color:#f5abb9;
  background: #ffffff;
}

.menu1 span a:focus {
  color:#f5abb9;
  background: #ffffff;
}

.menu1 span a:active {
  color:#f5abb9;
  background: #ffffff;
}

.menu1 div{ background-color: #5bcffb;}

/* Menu2 Styles */

.menu2 a { color: #ffffff;}

.menu2 a:hover { color: #f1f1f1;}

.menu2 a:focus { color: #f1f1f1;}

.menu2 a:active { color: #f1f1f1;}

.menu2 span a {
  background: #5bcffb;
  color: #f5abb9;
  box-shadow: none;
}

.menu2 span a:hover {
  background: #5bcffb;
  color:#f5abb9;
}

.menu2 span a:focus {
  background: #5bcffb;
   color:#f5abb9;
 }

.menu2 span a:active {
  background: #5bcffb;
  color:#f5abb9;
}

.menu2 div { background-color: #ffffff; }

.menu2 span {
  background: #5bcffb;
  color: #f5abb9;
}

/* Social Menu Styles*/

div.socialmenu.icon  a:link { color:#ffffff;}

div.socialmenu.icon  a:visited { color:#ffffff;}

div.socialmenu.icon  a:hover {
 color:#ffffff;
}

div.socialmenu.icon  a:focus { color:#ffffff;}

div.socialmenu.icon  a:active { color:#ffffff;}

div.socialmenu.icon img{
   filter:hue-rotate(90deg);
}

div.socialmenu.icon img:hover{
   filter:hue-rotate(90deg) brightness(150%);
}

