/* Palette:
pink:       #f5abb9  
dark pink:  #f38fa1 
blue:       #5bcffb  
dark blue:  #03a3e2
white:      #ffffff   
*/

body {
  background-color: #ffffff;
	color: #f5abb9;
}

header { background: linear-gradient(to right, rgb(85, 205, 252), rgb(247, 168, 184), rgb(255, 255, 255),rgb(247, 168, 184), rgb(85, 205, 252));}

main { 
  background-color: #f38fa1;
  color: #ffffff;
}

h1, h2 { color:#03a3e2;}

h3, h4, h5, h6 { color:#ffffff;}

a { color: #03a3e2;}

a:hover, a:focus, a:active { color: #ffffff;}

img { color: #ffffff;}

hr { color: rgba(93, 37, 52, 0.2);}

pre { color:#ffffff;}

ul { color:#ffffff}

ol { color:#ffffff;}

li { color:#ffffff;}

button {
  color:#5bcffb;
  background: #ffffff;
}

nav a:hover, a:focus, a:active { color:#f5abb9;}

footer a:hover, a:focus, a:active {
  color: #f5abb9;
}

article:nth-child(5n+1),article:nth-child(5n+5){
   background:#5bcffb;
  color: #ffffff;
}
  
article:nth-child(5n+2),article:nth-child(5n+4){
  background:#f5abb9;
  color: #ffffff;
}
  
article:nth-child(5n+3){
  background:#ffffff;
  color:  #5bcffb;
  }

  article:nth-child(5n+3) a:hover{
    color:  #f5abb9;
  }
  
hgroup {
  background: linear-gradient(to right, rgb(85, 205, 252), rgb(247, 168, 184), rgb(255, 255, 255),rgb(247, 168, 184), rgb(85, 205, 252));
}

article hgroup{
  background: inherit;
}

